[submodule "ex/TDD/googletest"]
	path = ex/TDD/googletest
	url = https://github.com/google/googletest
[submodule "opt/googletest"]
	path = opt/googletest
	url = https://github.com/google/googletest
[submodule "ex/zdl/dlfs"]
	path = ex/zdl/dlfs
	url = https://github.com/oreilly-japan/deep-learning-from-scratch.git
[submodule "ex/zdl2/dlfs2"]
	path = ex/zdl2/dlfs2
	url = https://github.com/oreilly-japan/deep-learning-from-scratch-2.git
[submodule "ex/zdl3/dlfs3"]
	path = ex/zdl3/dlfs3
	url = https://github.com/oreilly-japan/deep-learning-from-scratch-3.git
[submodule "ex/zdl4/dlfs4"]
	path = ex/zdl4/dlfs4
	url = https://github.com/oreilly-japan/deep-learning-from-scratch-4.git
